#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1.5rem;
  color: #FFFFFF;
  background-color: #0D47A1;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  z-index: 99;
}

#logo {
  padding: 0 0 1.5rem 0;
  margin: 0;
  font-size: 2.8rem;
}

#search-option-row {
  background-color: #FFFFFF;
  color: #212121;
  padding-top: 1rem;
  padding-bottom: 1rem;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

input, select {
  font-family: Roboto, sans-serif;
  font-size: 1.6rem;
  color: #212121;
  background: none;
  padding: 0.5rem 1rem;
  border: none;
  border-bottom: solid 0.2rem #cdcdcd;
  outline: none;
  width: 100%;
}

label {
  color: #343434;
}

select {
  display: inline-block;
  width: auto;
  min-width: 8rem;
}

input:focus, select:focus {
  border-bottom-color: #0D47A1;
}

#search-button {
  float: right;
  font-size: 2.4rem;
  top: 0.4rem;
  cursor: pointer;
}

#search-button:hover {
  text-decoration: none;
}

.movie {
  font-size: 1.6rem;
  padding-bottom: 1.5rem;
}

.movie-poster {
  width: 150px;
  min-height: 150px;
  float: left;
  margin: 0 1.5rem 0 0;
}

.movie-title {
  font-size: 3.2rem;
  margin: 0;
  padding: 0;
}

.movie-link {
  display: inline-block;
  color: #E91E63;
  padding: 1rem 0;
}

.movie-year {
  font-size: 1.4rem;
  color: #989898;
}

.pagination {
  font-size: 1.6rem;
  margin: 0;
  display: none;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pagination.show {
  display: inline-block !important;
}

#pagination-top {
  margin-bottom: 3rem;
}

#pagination-bottom {
  margin-top: 3rem;
}

#loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  color: #FFFFFF;
  text-align: center;
  z-index: 999;
}

#loading.show {
  display: block;
}

#loading h1 {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*
Fixes responsiveness issue with the every 3n+1 movie showing alone in the row for lg breakpoint devices.
Same for 2n+1 movie with md and sm breakpoint devices.
*/

@media (min-width: 768px) {
  .movie:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 992px) {
  .movie:nth-child(2n+1) {
    clear: both;
  }
}

@media (min-width: 1200px) {
  .movie:nth-child(2n+1) {
    clear: none;
  }

  .movie:nth-child(3n+1) {
    clear: both;
  }
}
